body {
    background-color: #000000;
    font-family: "Montserrat", sans-serif;
}

.main-div {
    display: grid;
    grid-template-columns: repeat(12, auto);
    grid-gap: 0.5rem;
}

.side-bar {
    height: 100vh;
}

.home-nav {
    padding: 1rem 0.75rem;
    display: flex;
    gap: 0.75rem;
    align-items: center;    
}

.home-nav {
    font-size: 1.15rem;
    color: white;
    font-weight: 600;
    opacity: 0.75;
}

.home-nav:hover {
   opacity: 1;
}

.home-nav a {
    text-decoration: none;
    color: white;
}

.side-nav {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    background-color: #121212;
}

.side-bar-library {
    background-color:  #121212;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
}

.your-libaray {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    align-items: center;
}

.libaray-icon {
    display: flex;
    justify-content: center;
    padding: 0.25rem 0.5rem;
    opacity: 0.75;
    font-weight: 600;
}

.libaray-icon:hover {
    opacity: 1;
}

.libaray-icon img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
}

.libaray-icon a {
    text-decoration: none;
    color: white;
}

.libaray-arrow i {
    opacity: 0.75;
    font-size: 1.15rem;
}

.libaray-arrow {
    display: flex;
    gap: 1.5rem;
}

.libaray-arrow i:hover {
    opacity: 1;
}

.first-playlist {
    color: white;
    font-weight: 600;
    padding: 1rem 1.5rem;
    background-color: #242424;
    border-radius: 8px;
    margin-top: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
}

.help-text {
    font-size: 0.875rem;
}

.first-playlist button {
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-top: 1rem;
}

.main-content {
    background-color: #242424;
    grid-column: 2 /span 11;
    position: relative;
}

.top-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: -webkit-fill-available;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.top-arrow {
    display: flex;
    gap: 1rem;
}

.top-explore-section{
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.explore-btn {
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #ffffff;
    padding: 0.5rem 0.75rem; 
    border-radius: 1rem;
}

.download-btn {
    font-size: 0.875rem;
    font-weight: 600;
    background-color: #000000;
    padding: 0.5rem 0.75rem; 
    border-radius: 1rem;
    border: 1px solid black;
    color: #ffffff;
}

.top-buttons {
    padding: 0rem 1rem 1rem 1rem;
    display: flex;
    gap: 0.5rem;
}

.top-buttons button {
    font-size: 0.875rem;
    background-color: hsla(0,1%,100%,.1);
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
}